<!DOCTYPE html>
<html>
<head>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
    ></script>
    <style>
        .centered {
            position: relative;
            text-align: center;
            display: grid;
            place-items: center;
            color: white;
        }

        .header {
            color: black;
        }

        p {
            color: #111;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 14px;
            line-height: 24px;
            margin: 0 0 24px;
            text-justify: inter-word;
        }

        h1 {
            color: #111;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 36px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1;
            text-align: center;
        }

        #demo {
            color: #111;
            font-family: 'Helvetica Neue', sans-serif;
            font-size: 22px;
            line-height: 24px;
            margin: 0 0 24px;
            text-justify: inter-word;
        }

        .form-div {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/predict">Predict</a>
            <a class="nav-item nav-link" href="/reference">Reference</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="py-5 text-center">
        <!--<img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <h2>MolForge</h2>
        <p class="lead">Reconstruction of lossless molecular representations</p>
    </div>
    <form class="row" action="/result" method="POST" target="_blank"  style=" background-color: rgba(0,0,0,0.05); padding: 32px;">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Data Structure</h4>
            <form class="needs-validation" novalidate="">
                <div class="row" >
                    <div class="col-md-6 mb-5">
                        <hr class="mb-3">
                        <label class="mx-3 p-1 mb-3 bg-info text-white">Input type: Fingerprint selection</label>
                        <div class="pt-1">
                            <input type="text" class="mx-3 form-control" name="fec" placeholder="Extended Connectivity Fingerpring" value="" required="">
                        </div>
                        <div class="pt-1">
                            <input type="text" class="mx-3 form-control" name="fae" placeholder="Atom Environments" value="" required="">
                            <div class="invalid-feedback"> </div>
                        </div>
                        <div class="pt-1">
                            <input type="text" class="mx-3 form-control" name="ftts" placeholder="Topological torsion - sparse" value="" required="">
                            <div class="invalid-feedback"> </div>
                        </div>
                        <div class="pt-1">
                            <input type="text" class="mx-3 form-control" name="fap" placeholder="Atom pair - hashed" value="" required="">
                            <div class="invalid-feedback"> </div>
                        </div>
                        <div class="pt-4">
                            <label class="mx-3 p-1 mb-3 bg-info text-white">Output type</label>
                        </div>
                        <div class="mx-3 form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="smiles">
                            <label class="form-check-label"> SMILES </label>
                        </div>
                        <div class="mx-3 form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="selfies">
                            <label class="form-check-label"> SELFIES </label>
                        </div>

                    </div>
                </div>

                <h4 class="m-1">Assessment</h4>
                <div class="row">
                    <div class="mb-5">
                        <hr class="mb-3">
                        <label class="mx-3 p-1 mb-3 bg-info text-white">Input type: Tverskiy index parameters</label>
                        <div class="pt-1" style="display: flex;">
                            <input type="text" class="mx-3 form-control" name="alpha" style="width: 200px;" placeholder="Alpha" value="" required=""> α = β = 1.0
                            <div class="invalid-feedback"> </div>
                        </div>
                        <div class="pt-1" style="display: flex">
                            <input type="text" class="mx-3 form-control" name="beta" style="width: 200px;" placeholder="Beta" value="" required=""> α = β = 0.5
                            <div class="invalid-feedback"> </div>
                        </div>

                        <hr class="mb-3">
                        <label class="mx-3 p-1 mb-3 bg-info text-white">Fingerprint class for molecular similarity</label>

                        <div class="custom-control custom-checkbox">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="predefined_sub">
                                <label class="form-check-label">
                                    Predefined substructures
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="path_feature">
                                <label class="form-check-label">
                                    Paths and feature class
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="path_based">
                                <label class="form-check-label">
                                    Path-based
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="four_atom">
                                <label class="form-check-label">
                                   4-atom-paths
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="circular">
                                <label class="form-check-label">
                                    Circular
                                </label>
                            </div>

                        </div>

                        <div class="pt-4">
                            <label class="mx-3 p-1 mb-3 bg-info text-white">Fingerprint type for molecular similarity</label>

                            <div class="custom-control custom-checkbox">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="atom_pair_hashed">
                                    <label class="form-check-label" >
                                        Atom pair-hashed
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="rdk_with">
                                    <label class="form-check-label">
                                        RDKit hashed
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="rdk_without">
                                    <label class="form-check-label">
                                        RDKit-with no branch
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr class="mb-4">
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="macc">
                            <label class="form-check-label">MACC keys</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="avalon">
                            <label class="form-check-label">Avalon</label>
                        </div>
                        <div class="form-check form-check-inline" >
                            <input class="form-check-input" type="radio" name="atom_hashed_pair">
                            <label class="form-check-label">Atom pair - hashed</label>
                            <button class="btn btn-primary" type="submit" onclick="this.form.submit();">Submit</button>
                        </div>
                    </div>
                </div>

                <hr class="mb-3">
                <button class="btn btn-primary" type="submit" onclick="this.form.submit();">Submit</button>
            </form>
        </div>
    </form>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2022 MolForge</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>
</html>